# Database
Database__Host=localhost
Database__Port=5432
Database__Name=echo_db
Database__Username=echo_user
Database__Password=

# Security (Jwt)
Jwt__Issuer=echo-api
Jwt__Audience=echo-clients
Jwt__PrivateKey=
Jwt__PublicKey=

# Api Security (Cors)
# A comma-separated list of origins allowed to make requests to the API.
# Example: http://localhost:5173,https://app.echo.church
Cors__AllowedOrigins=http://localhost:5173

# Frontend Identity
Frontend__BaseUrl=http://localhost:5173

# External Services
MailClient__Address=onboarding@resend.dev
Resend__ApiKey=

# System Settings
# Triggers Database.MigrateAsync() on startup. Set to false in Production.
RunMigrationsOnStartup=true
