DB_NAME=echo_db
DB_USERNAME=echo_user
DB_PASSWORD=

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ISSUER=echo-api
JWT_AUDIENCE=echo-clients

RUN_DATABASE_MIGRATIONS_ON_STARTUP=true

FRONTEND_BASE_URL=http://localhost:5173

MAIL_CLIENT_ADDRESS=onboarding@resend.dev
RESEND_API_KEY=
